* {
    padding: 0;
    margin: 0;
}
.header-slideshow {
    height: 300px;
    width: 100%;
    background-image: url(https://cdn.shopify.com/s/files/1/0092/7504/8033/collections/PlayStation_Collection_Banner_1200x600_crop_center.jpg?v=1668442734);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;  
}
@keyframes animate {
    0%{
        background-image: url(https://cdn.shopify.com/s/files/1/0092/7504/8033/collections/PlayStation_Collection_Banner_1200x600_crop_center.jpg?v=1668442734);
    }
    50%{
        background-image: url(http://cdn.shopify.com/s/files/1/0534/0299/2835/collections/xbo-header_2048x2048_926fe85b-ac42-49be-9b35-1f7eec243673_1200x1200.jpg?v=1637368929);
    }
    100%{
        background-image: url(https://cdn.shopify.com/s/files/1/0092/7504/8033/collections/Nintendo_Collection_Banner_1200x600_crop_center.jpg?v=1669645362);
    }
}

.game-card {
    width: 250px;
    height: 400px;
    text-align: center;
}
body{
    background-color: rgb(244, 244, 242);
}
main {
    display: flex;
    justify-content: center;
    /* background-image: url(https://images5.alphacoders.com/118/1188416.jpg); */
    background-image: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}

.game-cards-container {
    width: 70%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
}
a {
    text-decoration: none;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
button {
    background-color: rgb(59, 107, 163);
    margin-top: 5px;
    width: 95px;
    color: white;
    border: none;
}
button:hover {
    box-shadow: 3px 3px 3px black;
}
h5 {
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
}
li {
    color: white;
}
.show-game-card {
    width: 500px;
}
.show-game-card > img {
    width: 100%;
}
.gp-img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.color-w {
    color: white;
}
.images-container {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
}
.images-container > img {
    width: 200px;
    height: 110px;
}